/*----------------------------------------------------------------
    General page structure
----------------------------------------------------------------*/ 
.codereadr-flex {
    display: flex;
    flex-wrap: wrap;
}
.codereadr-flex-row {
    align-items: center;
}
.codereadr-flex-column {
    flex-direction: column;
}
.codereadr-admin-page__content {
    background: #fff;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px 30px 40px;
}

.codereadr-admin-services-page__content {
    max-width: 600px;
}

.codereadr-admin-page__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/*----------------------------------------------------------------
    Settings page
----------------------------------------------------------------*/ 
.codereadr-admin-settings-page__api-key h4, .codereadr-admin-services-page__content h4 {
    font-size: 17px !important;
    margin-top:0;
}
.codereadr-admin-settings-page__api-key-input {
    margin-top: 10px;
    border: 1px solid #9D9A9A !important;
    background-color: #FFF !important;
    width: 300px
}
.codereadr-admin-settings-page__api-key-input:disabled {
    background-color: #F0ECEC !important;
}

/*----------------------------------------------------------------
    Services page
----------------------------------------------------------------*/ 
.codereadr-admin-services-page__content table {
    width: 100%;
    text-align: center;
}
.codereadr-admin-services-page__content h4  {
    margin-bottom: 0;
}
.codereadr-admin-services-page__content table td {
    padding: 10px 5px;
     border-bottom: 1px solid #eee

}

.codereadr-admin-responses-page__buttons .codereadr-button-secondary {
    margin: 0 20px;
}

/*----------------------------------------------------------------
    Modal
----------------------------------------------------------------*/ 
.codereadr-modal {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    visibility: hidden;
    opacity: 0;
    z-index: -1
}
.codereadr-modal.show {
    z-index: 11111111;
    opacity: 1;
    visibility: visible;
}
.codereadr-modal__content {
    min-width: 500px;
    max-width: 500px;
    max-height: 600px;
    overflow-y: auto;
    margin: auto;
    background: #fff;
    min-height: 400px;
    padding: 10px 20px;
}
.codereadr-modal__header {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

/*----------------------------------------------------------------
    Buttons
----------------------------------------------------------------*/ 
.codereadr-admin-settings-page__buttons {
    margin-top: 30px;
}
.codereadr-admin-settings-page__buttons .codereadr-button-secondary {
    margin-right: 20px;
}
.codereadr-button-primary, .codereadr-button-secondary {
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
.codereadr-button-primary {
    background: #4946E5;
    color: #fff !important;
}
.codereadr-button-primary:hover {
    background: #3c38ee
}
.codereadr-button-secondary {
    background: #C4C4C4;
    color: #000 !important;
}
.codereadr-button-secondary:hover {
    background: #bcbaba
}

/*----------------------------------------------------------------
    Messages and alerts
----------------------------------------------------------------*/ 
.codereadr-error-message {
    background: #e54242;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px
}
.codereadr-error-message a {
    color: #e9e9e9
}
.codereadr-success-message {
    background: #14844e;
   color: #fff;
   display: inline-block;
   padding: 5px 20px;
   border-radius: 10px
}
.codereadr-not-found-message {
    color: #c58808;
    background-color: #f1ad1d66;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}